<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="mx-auto">
        <div class="d-flex">
          <h1>All Lists</h1>
            <ul class="nav-list ml-auto">
            <li class="nav-list-item">
              <%= link_to "Top", root_path %>
            </li>
            <li class="nav-list-item">
              <%= link_to "Lists", lists_path %>
            </li>
            <li class="nav-list-item">
              <%= link_to "New List", new_list_path %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>